<footer>
  <h3 class="fs-6">@ WebPack.com <%= new Date().getFullYear() %></h3>

  <div class="social-icons">
    <a href="linkdIn.com">LinkdIn</a>
    <a href="facebook.com">Facebook</a>
    <a href="https://github.com/">GitHub</a>
  </div>
</footer>
