<footer class="bg-dark">
  <h3 class="fs-6 text-danger">
    @ WebPack.com <%= new Date().getFullYear() %>
  </h3>

  <div class="social-icons">
    <a href="linkdIn.com"
      ><img style="height: 40px" src="/images/linkedin.png" alt="linkdIn-logo"
    /></a>
    <a href="facebook.com"
      ><img style="height: 40px" src="/images/facebook.png" alt="facebook-logo"
    /></a>
    <a href="https://github.com/"
      ><img style="height: 40px" src="/images/github.png" alt="github-logo"
    /></a>
  </div>
</footer>
