<nav class="nav-navbar bg-dark">
  <div class="brand">
    <h1 class="brand-heading">
      <img src="/images/blog-img.png" alt="blog-img" style="height: 80px" />
    </h1>
  </div>
  <div class="navLinks">
    <a class="fs-5 text-danger nav-link" href="/">Home</a>
    <a class="fs-5 text-danger nav-link" href="/posts">Posts</a>
    <a class="fs-5 text-danger nav-link" href="/new">New</a>
    <a class="fs-5 text-danger nav-link" href="/contact">Contact</a>
  </div>
</nav>
