<nav class="bg-dark">
  <div class="navbar-container">
      <input type="checkbox">
      <div class="nav-lines">
          <span class="line line1 bg-danger"></span>
          <span class="line line2 bg-danger"></span>
          <span class="line line3 bg-danger"></span>
      </div>
      <div class="navigation-links bg-dark">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/posts">Posts</a>
        <a class="nav-item" href="/new">New</a>
        <a class="nav-item" href="/contact">Contact</a>
      </div>
      <h1 class="logo text-danger">Blogpost App</h1>
  </div>
</nav>