<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Post</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
   
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container p-5">
      <div class="row">
        <div class="col p-5">
          <div class="container text-center">
            <img class="text-center welcom-img" style="max-height: 20rem; border-radius: 5px" src="/images/welcom-img.jpg" alt="welcome-img"/>
          </div>
        </div>
        <div class="col p-5">
          <p class="fs-1 text-danger">
            Welcome to <span class="fs-1 text-dark"><em>Blog Post</em></span>!
          </p>
          <p class="fs-5 mt-2">
            "Greetings and welcome to <em>Blog post application!</em> We are
            delighted to see you as a part of our community. Feel free to
            discover, interact, and collaborate with us to create something
            wonderful."
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col p-5">
            <p class="fs-5 mt-2">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis purus sit amet volutpat consequat. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Lacinia quis vel eros donec ac odio. Massa enim nec dui nunc mattis enim ut tellus elementum. Diam ut venenatis tellus in metus vulputate eu scelerisque felis. Lectus sit amet est placerat. Odio pellentesque diam volutpat commodo sed egestas egestas. Aliquam etiam erat velit scelerisque in dictum. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. Et egestas quis ipsum suspendisse ultrices gravida dictum. Sed sed risus pretium quam vulputate. Velit laoreet id donec ultrices tincidunt arcu."
            </p>
          </div>
          <div class="col p-5">
            <div class="container text-center">
              <img class="text-center welcom-img" style="max-height: 20rem; border-radius: 5px" src="/images/img-1.jpg" alt="welcome-img"/>
            </div>
          </div>
     
      </div>
    </div>
    <%- include("partials/footer.ejs") %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script src="app.js"></script>
  </body>
</html>
